<h1>Sign Up Page</h1>
<br>
<div class = "box-up">
      <br>
      <a href="/auth/google">
        <div class = "googlebutton">
            Sign In With Google
        </div>
      </a>
    <h3>New User? Sign Up Here!</h3>
    <form>
      <label for ="fname">FirstName:</label>
      <input type ="text" id="fname" name="fname" ng-model="newUser.fname" required>
      <br>
      <label for ="lname">LastName:</label>
      <input type ="text" id="lname" name="lname" ng-model="newUser.lname" required>
      <br>
      <label for ="username">Username:</label>
      <input type ="text" id="username" name="username" ng-model="newUser.username" required>
      <br>
      <label for ="email">Email Address:</label>
      <input type ="text" id="email" name="email" ng-model="newUser.email" required>
      <br>
      <label for ="password">Password:</label>
      <input type ="password" id="password" name="password" ng-model="newUser.password" required>
      <br><br>
      <input type="submit" value="Submit" ng-click="createUser()">

    </form>
</div>
